examples/n8n-workflow-example.json
{
  "name": "WC PromptPay Payment Verification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wc-promptpay-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract order data from webhook\nconst orderData = $input.first().json;\n\n// Simulate payment verification logic\n// In real implementation, you would:\n// 1. Check bank API for transaction\n// 2. Verify amount and PromptPay ID\n// 3. Match transaction reference\n\nconst isPaymentValid = Math.random() > 0.2; // 80% success rate for demo\n\nconst response = {\n  order_id: orderData.order_id,\n  status: isPaymentValid ? 'success' : 'failed',\n  message: isPaymentValid ? 'Payment verified successfully' : 'Payment not found',\n  transaction_id: isPaymentValid ? 'TXN' + Date.now() : null,\n  amount: orderData.amount,\n  timestamp: new Date().toISOString()\n};\n\n// Add signature for security\nconst crypto = require('crypto');\nconst secret = 'your-webhook-secret-key'; // Should match WooCommerce plugin setting\nconst signature = crypto.createHmac('sha256', JSON.stringify(response)).update(secret).digest('hex');\n\nreturn {\n  json: response,\n  headers: {\n    'X-Signature': signature,\n    'Content-Type': 'application/json'\n  }\n};"
      },
      "id": "payment-verification",
      "name": "Payment Verification Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $node['Webhook Trigger'].json.callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "headers": {
            "X-Signature": "={{ $headers['X-Signature'] }}"
          }
        }
      },
      "id": "send-callback",
      "name": "Send Callback to WooCommerce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Webhook received and processed\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Payment Verification Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Verification Logic": {
      "main": [
        [
          {
            "node": "Send Callback to WooCommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Callback to WooCommerce": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "woocommerce",
      "name": "WooCommerce"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
